<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
{{{body}}}
</body>
</html>
