<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/board.css">
</head>
<body>
<h1> Add new board: </h1>
<div>
    {{{body}}}
</div>

</body>
</html>