<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1> Board </h1>
<div>
    {{{body}}}
</div>
<script>
    function updateBoard(id) {
        let options = {
            method:'PUT', headers:{'Content-Type':'application/json'},
            body: JSON.stringify({ board: document.getElementById(`board-${id}`).value })
        };
        fetch (`/api/board/${id}`,options)
                .then(response => response.json())
    }

    function deleteBoard(id) {
        let options = {
            method:'DELETE', headers:{'Content-Type':'application/json'}
        };
        fetch (`/api/board/${id}`,options)
                .then(response => response.json())
    }
</script>
</body>
</html>