<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<h1> Card </h1>
<div>
    {{{body}}}
</div>

<script>

    loadBoards('boardId');

    function loadBoards(controlName) {
        fetch('/api/boards')
                .then(response => response.json())
                .then(boards => {
                    const selectList = document.getElementsByName(controlName)[0];
                    selectList.innerHTML = '';
                    boards.forEach(board => {
                        const option = document.createElement('option');
                        option.setAttribute('value', board.id);
                        option.innerText = board.board_name;
                        selectList.appendChild(option);
                    });
                });
    }

    function loadLists(parentControlName, controlName) {
        const boardId = document.getElementsByName(parentControlName)[0].value;
        if (!boardId) {
            return;
        }
        fetch('/api/lists/' + boardId)
                .then(response => response.json())
                .then(lists => {
                    const selectList = document.getElementsByName(controlName)[0];
                    selectList.innerHTML = '';
                    lists.forEach(list => {
                        const option = document.createElement('option');
                        option.setAttribute('value', list.id);
                        option.innerText = list.list_name;
                        selectList.appendChild(option);
                    });
                });
    }

    function updateComment(id) {
        let options ={
            method:'PUT', headers:{'Content-Type':'application/json'},
            body: JSON.stringify({ bodyComment: document.getElementById(`comment-${id}`).value })
        };
        fetch (`/api/comment/${id}`,options)
                .then(response => response.json())
    }

    function deleteComment(id) {
        let options ={
            method:'DELETE', headers:{'Content-Type':'application/json'}
        };
        fetch (`/api/comment/${id}`,options)
                .then(response => response.json())
    }

    function updateCard(id) {
        let options ={
            method:'PUT', headers:{'Content-Type':'application/json'},
            body: JSON.stringify({
                cardName: document.getElementById(`card-${id}`).value,
                descriptionCard: document.getElementById(`description-${id}`).value,
                dateFinishTaskCard: document.getElementById(`date-${id}`).value
            })
        };
        fetch (`/api/card/${id}`,options)
                .then(response => response.json())
    }
    
    function deleteCard(id) {
        let options ={
            method:'DELETE', headers:{'Content-Type':'application/json'},
        };
        fetch (`/api/card/${id}`,options)
                .then(response => response.json())
    }

</script>

</body>
</html>