<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1> Lists </h1>
<div>
    {{{body}}}
</div>


</body>
</html>