<form action="/api/card" method="post" style="margin-left: 15px; width: 700px">

    {{#if message}}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
    {{/if}}

    <div class="form-group ">
        <label>Board id</label>
        <select name="boardId" placeholder="Enter board id, please" class="form-control" required onchange="loadLists('boardId', 'listId')"></select>
    </div>
    <div class="form-group ">
        <label>List id</label>
        <select name="listId" placeholder="Enter list id, please" class="form-control" required></select>
    </div>
    <div class="form-group ">
        <label>Name card</label>
        <input type="text" name="cardName" placeholder="Enter card name, please" class="form-control" required>
    </div>
    <div class="form-group ">
        <label>Description card</label>
        <input type="text" name="description" placeholder="Enter description card, please" class="form-control" required>
    </div>
    <div class="form-group ">
        <label>Date finish task</label>
        <input type="date" name="date"  min="2020-10-08" placeholder="Enter date, please" class="form-control" required>
    </div>
    <button type="submit" id="submit" class="btn btn-outline-success">Add</button>
    <button type="button" class="btn btn-outline-dark" onclick="history.back();">Back</button>
</form>
