{{#each listComments}}
    <div style="margin-left: 15px; width: 700px">
        <p></p>
        <label>Comments under this card</label>
        <input name="bodyComment" id="comment-{{id}}" type="text" value="{{body_comment}}" class="form-control" aria-describedby="button-addon4">
        <p></p>
    </div>
    <div style="margin-left: 15px;">
        <button type="submit" onclick="updateComment({{id}})" id="submit" class="btn btn-outline-success">Update</button>
        <button type="submit" onclick="deleteComment({{id}})" id="submit" class="btn btn-outline-danger">Delete</button>
    </div>
{{/each}}

<p></p>
<div><button type="button" style="margin-left: 15px;" class="btn btn-outline-dark" onclick="history.back();">Back</button></div>