<div class="row">
    {{#each allLists}}
        {{>list}}
    {{/each}}
</div>
<a href="/api/list/{{set_list_id}}" style="margin-left: 15px" class="btn btn-outline-success">Add new list</a>
<button type="button" class="btn btn-outline-dark" onclick="history.back();">Back</button>
