<header>
    <nav class="nav">
        <a class="nav-link active" href="/addBoard">Add new board</a>
        <a class="nav-link" href="/addCard">Add new card</a>
        <a class="nav-link" href="/board">View all your board</a>
        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="/login">Login</a>
    </nav>
</header>