<header>
    <nav class="nav">
        <a class="nav-link active" href="#">Add new board</a>
        <a class="nav-link" href="#">Add new card</a>
        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link disabled" href="/login" tabindex="-1" aria-disabled="true">Login</a>
    </nav>
</header>