<div class="row" style="margin-left: 15px">
    {{#each listBoard}}
        {{>board}}
    {{/each}}
</div>
<p></p>
<button type="button" style="margin-left: 15px" class="btn btn-outline-dark" onclick="history.back();">Back</button>